.header{
    margin-bottom:10px;
    overflow:hidden;
    clear:both;
    width:960px;
    margin:auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffffff;
    border-color:#cccccc;
    border-bottom-style:solid;
    border-bottom:1px;

}
body{
    color:#777777;
}

.main-content{
    width:960px;
    margin:auto;
    background: white;
    border: 1px;
    border-color: #dddddd;
    border-style: solid;
    overflow: hidden;
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
    padding:10px;
    text-align: center;
    background:#666666;
    border-style:solid;
}

.h1-div{
    float:left; 
    overflow: hidden;
    background: #4aaaa5;
    color: #ffffff; 
    clear:both;
}

.nav{
    float:right;
    margin-top: 25px;
}

.main-content-container{
    background-image: url(../images/rebel/rebel.png);}

#about-me-text{
    line-height: 2;
}

hr{
    margin-left:10px;
    margin-right:10px;
}

#profile-pic{
    float:left;
}

.contact-text{
    margin-left: 15px;
}
.title-text{
    color: #4aaaa5;

}
div a {
    float:left;
    margin: 15px;
}

.float-left{
    float:left;
}

.clearfix{
    clear:both;
}

input{
    width: 925px;
}

textarea{
    width: 925px;
    height: 300px;
}

.img-text{
    position: absolute;
    bottom: 0;
    right: 175px;

}

.img-text-block {
    position: absolute;
    bottom: 20px;
    right: 15px;
    background: #4aaaa5;
    color:  #ffffff; 
    margin-bottom:15px;
    width:350px;
    text-align: center;
}

.portfolio-image{
    position: relative;
}

#submit {
    background: #4aaaa5;
    color: #ffffff; 
    padding: 10px;
    width: auto;
    margin:15px;

}

